/* General style for the links */
.linkStyle {
    font-size: 16px;
    margin: 10px 0; /* Adjusted margin for spacing */
    padding: 5px;   /* Adjusted padding */
    text-decoration: none; /* Remove default underline */
    border-bottom: 1px solid #ccc; /* Add a border to the bottom */
    font-weight: bold;
}

/* Style for the clicked link */
.clickedLink {
    color: blue; /* Change text color to blue */
    text-decoration: underline; /* Underline the link */
    margin-left: 15px; /* Adjusted margin on the left */
    padding-left: 10px; /* Adjusted padding on the left */
}
/* Add to your custom CSS file */
.sapUiResponsiveMargin {
    margin-left: 16px;
    margin-right: 16px;
  }
  
  .sapUiSmallMarginTop {
    margin-top: 20px;
  }
  
  .sapUiLargeText {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }
  
